<div class="container-fluid">
  <div class="row justify-content-center margin-below">
    <div class="col-xs-12 col-lg-6">
      <h1>Team Leaderboard</h1>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Team</th>
          <th scope="col">Chefs</th>
          <th scope="col">Points</th>
          <th scope="col">Recent Change *</th>
        </tr>
        </thead>
        <tbody>
        <% @league.teams_in_rank_order.each do |team, rank| %>
          <tr>
            <th scope="row"><%= rank.ordinalize %></th>
            <th><%= team.team_name %></th>
            <th><%= render "shared/chef_link", chef: team.chefs.first %> / <%= render "shared/chef_link", chef: team.chefs.last %></th>
            <th><%= team.total_points %></th>
            <th class="<%= team.last_week_diff_color %>"><% unless team.last_week_diff.zero? %><%= image_pack_tag team.last_week_diff_icon, class: "arrow" %> <% end %><%= team.last_week_diff %></th>
          </tr>
        <% end %>
        </tbody>
      </table>
      <small>* Change in points from the last week to the most recent one.</small>
    </div>
  </div>
</div>
