<div class="container-fluid">
  <div class="row justify-content-center margin-below">
    <div class="col-xs-12 col-lg-6">
      <h1>Season <%= @episode.season.season_number %> - Episode <%= @episode.week %></h1>
      <form action="<%= season_episode_path(@episode.season.season_number, @episode.week) %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="put">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="qf_winner">Quickfire Winner:</label>
          <div class="col-sm-7">
            <select class="mr-sm-2" name="qf_winner" id="qf_winner">
              <% @episode.season.chefs.each do |chef| %>
                <option value="<%= chef.id %>"><%= chef.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="qf_fav">Quickfire Favorites:</label>
          <div class="col-sm-7">
            <select class="mr-sm-2" name="qf_fav[]" id="qf_fav" multiple>
              <% @episode.season.chefs.each do |chef| %>
                <option value="<%= chef.id %>"><%= chef.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="elim_winner">Elim Winner:</label>
          <div class="col-sm-7">
            <select class="mr-sm-2" name="elim_winner" id="elim_winner">
              <% @episode.season.chefs.each do |chef| %>
                <option value="<%= chef.id %>"><%= chef.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="elim_fav">Elim Favorites:</label>
          <div class="col-sm-7">
            <select class="mr-sm-2" name="elim_fav[]" id="elim_fav" multiple>
              <% @episode.season.chefs.each do |chef| %>
                <option value="<%= chef.id %>"><%= chef.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="elim_bottom">Elim Bottom:</label>
          <div class="col-sm-7">
            <select class="mr-sm-2" name="elim_bottom[]" id="elim_bottom" multiple>
              <% @episode.season.chefs.each do |chef| %>
                <option value="<%= chef.id %>"><%= chef.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="lck_winner">LCK Winner:</label>
          <div class="col-sm-7">
            <select class="mr-sm-2" name="lck_winner" id="lck_winner">
              <option>None</option>
              <% @episode.season.chefs.each do |chef| %>
                <option value="<%= chef.id %>"><%= chef.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="finale">Finale?</label>
          <div class="col-sm-7">
            <select class="mr-sm-2" name="finale[]" id="finale" multiple>
              <% @episode.season.chefs.each do |chef| %>
                <option value="<%= chef.id %>"><%= chef.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="champ">Champion?</label>
          <div class="col-sm-7">
            <select class="mr-sm-2" name="champ" id="champ">
              <option>None</option>
              <% @episode.season.chefs.each do |chef| %>
                <option value="<%= chef.id %>"><%= chef.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="lck_champ">LCK Champion?</label>
          <div class="col-sm-7">
            <select class="mr-sm-2" name="lck_champ" id="lck_champ">
              <option>None</option>
              <% @episode.season.chefs.each do |chef| %>
                <option value="<%= chef.id %>"><%= chef.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="eliminated">Eliminated:</label>
          <div class="col-sm-7">
            <select class="mr-sm-2" name="eliminated[]" id="eliminated" multiple>
              <% @episode.season.chefs.each do |chef| %>
                <option value="<%= chef.id %>"><%= chef.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="col-sm-10">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
